.cover_letter_page {
    padding: 20px;
    width: 70%;
    margin: auto;

  }

  .cover_letter_container{
    border: 5px solid rgb(6 182 212);
    box-shadow: 0 0 10px 7px rgb(6 182 212) ;
    border-radius: 10px;
    padding: 10px;


  }
  .cover_letter_container1{
    border: 5px solid rgb(22 78 99);
    border-radius: 10px;

  }
  
  .cover_letter_title {
    font-size: 12px;
    font-weight: bold;
    margin: auto;
  }
  
  .cover_letter_content {
    margin-top: 35px;
    line-height: 20px;
    padding: 30px 30px;
    font-size: 12px;
  }
  
  .button_group {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
    padding: 10px;
  }
  
  .delete_button {
    margin-right: 10px;
    padding: 4px 8px;
    background-color: #a8101f;
    color: #fff;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 600;

    gap: 5px;
  }

  .delete_button:hover{
    background-color: #f81128;
  }

  .delete_button img{
    width: 25px;
    margin: 5px;

  }
  
  .print_button {
    padding: 4px 8px;
    background-color: rgb(22 78 99);
    color: #fff;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    gap: 5px;

  }

  .print_button:hover {
    background-color:rgb(6 182 212) ;
  }

  .print_button img{
    width: 25px;
    margin: 5px;

  }
  
  .loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
  }
  
  .loading_spinner {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #333;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .error {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    color: red;
  }
  