/* Footer styles */

.footer {
    background-color: rgb(22 78 99);
    color: #fff;
    padding: 20px 0;
    font-family: sans-serif, Arial, Helvetica;
    margin-top: 50px;
 }
  
  .footer_content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
}
  
.footer_section {
    max-width: 500px;
    margin-bottom: 10px;
    padding: 10px 20px;
}
  
.footer_section_title {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}
  
  
.footer_list {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.footer_list li {
    font-size: 12px;
    margin-bottom: 5px;
}

.logo_image{
    padding: 5px;
}
  
.social_media_icons {
    display: flex;
    align-items: center;
}
  
.social_media_icons {
    display: inline-block;
    margin-right: 10px;
    color: #ccc;
    font-size: 16px;
    transition: color 0.3s ease;
}
  
.social_media_icons:hover {
    color: #fff;
}
  
.footer_bottom {
    background-color: #323232;
    text-align: center;
    padding: 5px 0;
    font-size: 8px;
    color: #f8f8f8;
}