/* Chat.module.css */


  .main_container{
    max-width: 1200px;
    margin: 8px auto;
    padding: 10px;
    border-radius: 8px;
    background-color: #e4f1f5;
  }
  .chat_container {
    border: 5px solid #ffffff;
    border-radius: 8px;
    box-shadow:  0 5px 5px 5px #ffffff;

  }
  
  .message_list {
    padding: 6px;
    background-color: #ecf6f8;
    font-size: 14px;
  }
  
  .message {
    margin-bottom: 10px;
  }
  
  .message.sent .message_text {
    background-color: rgb(22 78 99);
    color: #fff;
  }
  
  .message.received .message_text {
    background-color: #fff;
    color: rgb(22 78 99);
  }
  
  .message_text {
    padding: 6px;
    border-radius: 4px;
  }
  
  .typing_indicator {
    padding: 4px;
  }
  

