/* Chat.module.css */


  .mainContainer{
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #e4f1f5;
  }
  .chatContainer {
    border: 5px solid #ffffff;
    border-radius: 8px;
    box-shadow:  0 5px 5px 5px #ffffff;
  }
  
  .messageList {
    padding: 20px;
    background-color: #ecf6f8;
    font-size: larger;
  }
  
  .message {
    margin-bottom: 10px;
  }
  
  .message.sent .messageText {
    background-color: rgb(22 78 99);
    color: #fff;
  }
  
  .message.received .messageText {
    background-color: #fff;
    color: rgb(22 78 99);
  }
  
  .messageText {
    padding: 10px;
    border-radius: 8px;
  }
  
  .typingIndicator {
    padding: 5px;
  }
  
  .messageInput {
    padding: 10px;
    border: none;
    font-size: larger;
    border-top: 1px solid rgb(22 78 99);
  }
  
