.main_page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 100%; */
    font-family: sans-serif, Arial, Helvetica;
}

.page_container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* padding: 30px; */
    min-height: 100vh;
    background-color: #fff;

}

.main {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 100vh;
    padding: 2rem;
    font-family: sans-serif, Arial, Helvetica;
}


.header {
display: flex;
flex-direction: row-reverse;
flex-wrap: wrap;
justify-content: space-around;
align-items: center; 
width: 100%;
padding: 20px;
}

.hero_content {
    padding: 10% 0;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

  }

.text_container {
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    
}


.hero_text {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-right: 2rem;
  }


  
.hero_span {
color: rgb(6 182 212); 
}

.header h2 {
font-size: 18px;
margin-bottom: 20px;
}

@media screen and (max-width: 400px){
    .hero_text {
        font-size: 24px;
    }
    .header h2 {
        font-size: 16px;
        margin-bottom: 20px;
        }

}



.hero_image {
    max-width: 500px;
    margin-top: 2rem;
}
@media screen and (max-width: 400px){
    .hero_image {
        max-width: 350px;
    }

}

.CTA_btn {
    padding: 15px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(22 78 99); 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 40px;
    box-shadow: 0 5px 10px lightblue;
    max-width: fit-content;
}
    
.CTA_btn:hover {
/* background-color: rgb(8 145 178); */
background-color: rgb(6 182 212);

}

/* Our services section general styles */

.services_section{
    margin-top: 5rem;
    margin-bottom: 4rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    background-color: #f9f8f8;
}

.services_container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
}
    
.section_title{
    font-size: 28px;
    font-weight: 700;
    color: rgb(22 78 99); 
    text-align: center;
    margin: 1rem 0;
    padding: 1rem 2rem;
    text-decoration: underline;
    text-underline-offset: 12px;
}

.services_group{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 20px;
    gap: 50px;
}

/* service items styles except resume service */

.service_card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.service_card_content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}



.service_title{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: rgb(22 78 99);
    margin-bottom: 30px;
}

.service_title_span{
    color:rgb(6 182 212);
}

.service_card_text{
    display: flex;
    flex-flow: column wrap;
    gap: 2px;
}

.service_card_h1{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: -0.067em;
    color: rgb(22 78 99);
    margin-bottom: 5px;
}

.service_card_h2{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.067em;
    color: rgb(14 116 144);
}

.service_card_image{
    max-width: 200px;
    margin: auto;
}

/* resume service container styles */

.resume_service_container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}



.resume_service_cards{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    gap: 50px;

}

.resume_service_card{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.resume_service_card_image{
    max-width: 90px;
}

.resume_service_card_text{
    display: flex;
    flex-flow: row wrap;
    gap: 5px;
}

.resume_service_card_h1{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: -0.067em;
    color: rgb(22 78 99);
}

.resume_service_card_h2{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.067em;
    color: rgb(8 145 178);
}

.resume_service_card_number{

font-style: normal;
font-weight: 650;
font-size: 20px;
line-height: 32px;
letter-spacing: -0.067em;
color: rgb(22 78 99);
}



/* Benefits Section styles */

.benefitsSection {
    padding: 4rem 2rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .benefitsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 5rem;

  }
  
  .benefitItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    text-align: center;
  }
  
  .benefitIcon {
    width: 80px;
    height: 80px;
    margin-bottom: 1rem;
  }
  
  .benefitTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: rgb(8 145 178);
  }
  
  .benefitDescription {
    font-size: 1.2rem;
    color: rgb(22 78 99);
  }
  

  
