
.section_title{
  font-family: sans-serif, Arial, Helvetica;
  font-size: 28px;
  font-weight: 700;
  color: rgb(22 78 99); 
  text-align: center;
  margin: 50px 0 0;
  padding: 40px 0 50px;
  background-color: #f9f8f8;
  text-decoration: underline;
  box-shadow: 0 5px 5px #f9f8f8;
  text-underline-offset: 6px;
}


.plans_section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 5px;
  margin-bottom: 50px;
  padding-bottom: 50px;
  background-color: #f9f8f8;
  font-family: sans-serif, Arial, Helvetica;
  border-radius: 5px;
}

  
.plan_options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 150px;
  align-items: center;
  width: 100%;
  margin: auto;

}



.plan_option {
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 2px 6px 12px rgb(6 182 212);
}

.plan_option:hover{
  box-shadow: 0px 14px 20px rgb(8 145 178);
  transition: box-shadow 0.4s ease;
}

.plan_title {
  color: white;
  font-weight: 600;
  font-size: 16px;
  background-color: rgb(6 182 212); 
  padding: 8px 12px; 
  margin-bottom: 20px; 
}

.plans_price {
  font-size: 20px;
  color: rgb(22 78 99);
  position: relative;
  text-align: center;

}

.dollar_sign {
  top: -5px;
  left: -12px;
  font-size: 8px;

}

.price {
  font-size: 20px;
}

.month {
  font-size: 14px;
}

.horizontal_line {
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

.benefits_list {
  color: rgb(22 78 99);
  margin-bottom: 15px;
}
.benefits_list li{
  padding: 5px;
  font-size: 12px;
}

.plan_button {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  background-color: rgb(22 78 99);
  color: white;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0079FF;
  transition: box-shadow 0.3s;
}

.plan_button:hover {
  background-color: rgb(6 182 212);
}